body {
  position: relative;
}
.bag img {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  height: auto;
}

.bag h2 {
  position: absolute;
  top: 52%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: "nexa";
  font-size: 5vw;
}

.bag p {
  position: absolute;
  top: 65%;
  left: 31%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-family: "nexa";
  font-size: 3vw;
  font-style: italic;
}

.bag button {
  position: absolute;
  top: 85%;
  left: 37%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 1vw 4vw;
  background-color: rgb(211, 207, 207);
  border: 2px solid #e7e7e7;
  outline: none;
  border: none;

  font-size: 1vw;
  max-width: 100%;
  max-height: 100%;
}

button:hover {
  background: #ddd;
}
@font-face {
  font-family: "nexa";
  src: url(/public/fonts/NexaDemo-Bold.ttf);
  font-style: normal;
  font-weight: 5vw;
}

@font-face {
  font-family: "nexa";
  src: url(/public/fonts/NexaDemo-Light.ttf);
  font-style: normal;
  font-weight: 3vw;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 20px;
  }
}
